<div class="form-container">
  <div class="right-side-buttons">
    <mat-icon class="edit-icon" (click)="edit()" [ngClass]="{'hidden' : readonly === false }">edit</mat-icon>
    <mat-icon (click)="remove()">close</mat-icon>
  </div>
  <form>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Treść</mat-label>
      <input matInput [formControl]="title" [readonly]="readonly">
    </mat-form-field>

    <mat-slide-toggle
      class="example-margin" color="primary" [checked]="isRight" (toggleChange)="toggleChanged()" [disabled]="readonly">
      Poprawna odpowiedź
    </mat-slide-toggle>

  </form>
</div>
