<div class="form-container">
  <form>
    <span>Opis lekcji</span>
    <hr>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Nazwa</mat-label>
      <input matInput [formControl]="name">
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Tytuł</mat-label>
      <input matInput [formControl]="title">
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Opis</mat-label>
      <textarea matInput rows="5" [formControl]="description"></textarea>
    </mat-form-field>
    <span>Elementy lekcji ({{lessons.length}})</span>
    <hr>

    <ng-container #lessonsContainer></ng-container>
    <app-edit-lesson></app-edit-lesson>
  </form>

  <button class="btn" (click)="addNewLesson()">+ Dodaj element</button>

  <hr>
  <div class="actions-buttons">
    <button class="btn save" (click)="save()">Zapisz</button>
    <button class="btn cancel" routerLink="/course">Anuluj</button>
  </div>
</div>


