<p class="header">CO TO PHISHING?</p>
<p>
  Phishing - atak socjotechniczny, polegający na wysyłaniu wiadomości, które podstępem wyłudzają poufne informacje lub
  nakłaniają do podjęcia określonego działania.
  Phishing jest oszustwem, mającym na celu kradzież haseł, numerów kart kredytowych, danych do konta bankowego i innych
  poufnych informacji. Wiadomości phishingowe przybierają zwykle postać fałszywych powiadomień z banków lub innych
  organizacji, które próbują zachęcić Cię, abyś np. w trybie pilnym zaktualizował hasło, bo w przeciwnym razie dotknie
  Cię utrata danych, awaria systemu lub inne nieszczęście. Kliknięcie w link zawarty w takiej wiadomości może prowadzić
  do specjalnie spreparowanej strony, łudząco podobnej do prawdziwej strony banku czy operatora płatności, a otwarcie
  załącznika może spowodować zawirusowanie Twojego komputera lub zainstalowanie programu szpiegowskiego.
  Naucz się skutecznie bronić przed atakiem phishingowym. Poznaj nauki Mistrza Ban-King, zdobądź czarny pas i nie daj
  się oszukać.</p>

<button routerLink="/course">Przejdź do kursu</button>
