<div class="form-container">
  <form>

    <span>Nowy test</span>
    <hr>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Wybierz lekcję</mat-label>
      <mat-select [formControl]="courseId">
        <mat-option value="{{course.id}}" *ngFor="let course of courses">{{course.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <span>Pytania ({{questions.length}})</span>
    <hr>

    <ng-container #questionsContainer></ng-container>
  </form>

  <button class="btn" (click)="addNewQuestion()">+ Dodaj pytanie</button>

  <hr>
  <div class="actions-buttons">
    <button class="btn save" (click)="create()">Zapisz</button>
    <button class="btn cancel" routerLink="/course">Anuluj</button>
  </div>
</div>


