<div class="cards-container" fxLayout="row wrap" >

  <div class="course-card" (click)="loadTheory()">
    <header>
      Lekcja 1
    </header>
    <hr>
    <div class="body">
      <p>Rozpoznanie przeciwnika, czyli podejrzane maile</p>
    </div>
  </div>

  <div class="course-card">
    <header>
      Lekcja 1
    </header>
    <hr>
    <div class="body">
      <p>Rozpoznanie przeciwnika, czyli podejrzane maile</p>
    </div>
  </div>

  <div class="course-card">
    <header>
      Lekcja 1
    </header>
    <hr>
    <div class="body">
      <p>Rozpoznanie przeciwnika, czyli podejrzane maile</p>
    </div>
  </div>

  <div class="course-card">
    <header>
      Lekcja 1
    </header>
    <hr>
    <div class="body">
      <p>Rozpoznanie przeciwnika, czyli podejrzane maile</p>
    </div>
  </div>

  <div class="course-card">
    <header>
      Lekcja 1
    </header>
    <hr>
    <div class="body">
      <p>Rozpoznanie przeciwnika, czyli podejrzane maile</p>
    </div>
  </div>

  <div class="course-card">
    <header>
      Lekcja 1
    </header>
    <hr>
    <div class="body">
      <p>Rozpoznanie przeciwnika, czyli podejrzane maile</p>
    </div>
  </div>

</div>
