.header{
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  background:
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(62, 72, 211, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url('/assets/images/phishing.jpg');
  height: 32vh;
  background-size: cover;
  clip-path: polygon(
    0 0,
  100% 0,
  100% 80%,
  50% 100%,
  0 80%
  );
  position: relative;
  color: white;
}
