<div class="parent">

  <a routerLink="/course"><div class="back-link showX">
    <img src="assets/images/left-arrow.svg" alt="back">
    <span class="back-button">Spis lekcji</span>
  </div></a>

  <div class="header showY">
    <p>Lekcja 1</p>
    <span>Teoria</span>
  </div>

  <hr>

  <div class="description showY">
    <p>Rozpoznanie przeciwnika, czyli podejrzane maile</p>
    <span>Mądry wojownik w mgnieniu oka potrafi rozpoznać podejrzane maile. Naucz się odróżniać phishing od bezpiecznych wiadomości.</span>
  </div>

  <div class="theory showX">
    <app-lesson></app-lesson>
    <app-lesson></app-lesson>
    <app-lesson></app-lesson>
  </div>

  <button class="test-button showY">Przejdź do testu</button>

</div>
