<div class="parent">

  <a routerLink="/course"><div class="back-link showX">
    <img src="assets/images/left-arrow.svg" alt="back">
    <span class="back-button">Spis lekcji</span>
  </div></a>

  <div class="header showY">
    <p>{{course!.name}}</p>
    <span>Teoria</span>
  </div>

  <hr>

  <div class="description showY">
    <p>{{course!.title}}</p>
    <span>{{course!.description}}</span>
  </div>

  <div class="theory showX">
    <app-lesson></app-lesson>
    <app-lesson></app-lesson>
    <app-lesson></app-lesson>
  </div>

  <button class="test-button showY">Przejdź do testu</button>

</div>
