<div class="parent">

  <a routerLink="/course"><div class="back-link showX">
    <img src="assets/images/left-arrow.svg" alt="back">
    <span class="back-button">Spis lekcji</span>
  </div></a>

  <div class="header showY">
    <p>{{course?.name}}</p>
    <span>Teoria</span>
    <div class="right-side-buttons" *ngIf="authService.loggedIn()">
      <button class="btn btn-edit" routerLink="/edit-course/{{course?.id}}">Edytuj</button>
      <button class="btn btn-delete" (click)="openRemoveDialog()">Usuń</button>
    </div>
  </div>

  <hr>

  <div class="description showY">
    <p>{{course?.title}}</p>
    <span>{{course?.description}}</span>
  </div>

  <div class="theory showX">
    <app-lesson *ngFor="let lesson of course?.lessons" [lesson]="lesson"></app-lesson>
  </div>

  <button class="test-button showY">Przejdź do testu</button>

</div>
